<div class="container auth-field">
            <div class="input-field">
                <input type="text" name="fullName" value="<%= form.fullName %>" placeholder=" ">
                <span class="input-info placeholder">Full Name</span>
                <% if(errors.fullName) { %>
                    <span class="input-error"><%= errors.fullName.msg %></span>
                <% } %>
            </div>

            <div class="input-field">
                <input type="text" name="city" value="<%= form.city %>" placeholder=" ">
                <span class="input-info">City</span>
                <% if(errors.city) { %>
                    <span class="input-error"><%= errors.city.msg %></span>
                <% } %>
            </div>

            <div class="input-field">
                <input type="text" name="district" value="<%= form.district %>" placeholder=" ">
                <span class="input-info">District</span>
                <% if(errors.district) { %>
                    <span class="input-error"><%= errors.district.msg %></span>
                <% } %>
            </div>


            <a href="/register?type=market" class="btn-primary">For Markets -></a>
</div>
