<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <style>
        .btn-primary {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a class="btn-primary back-home" href="/">Back to Home Page</a>
    <form action="/register" method="post" class="register-field">
        <div class="container auth-field">
            <h1>R E G I S T E R</h1>
            <div class="input-field">
                <input type="text" name="email" value="<%= form.email %>" placeholder=" ">
                <span class="input-info placeholder">Email</span>
                <% if(errors.email) { %>
                    <span class="input-error"><%= errors.email.msg %></span>
                <% } %>
                <% if(exists && exists.field === 'email') { %>
                    <div class="toast-container">
                        <div class="toast flash-err">
                            <span"><%= exists.msg %></span>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="input-field">
                <input type="password" name="password" value="<%= form.password %>" placeholder=" ">
                <span class="input-info placeholder">Password</span>
                <% if(errors.password) { %>
                    <span class="input-error"><%= errors.password.msg %></span>
                <% } %>
            </div>

            <a href="/login">Already Have an Account? Log In!</a>

            <button class="btn-primary">R E G I S T E R</button>
        </div>

        <% if (user_type === 'market') { %>
        <%- include('partials/_marketFields') %>
        <% } else { %>
        <%- include('partials/_customerFields') %>
        <% } %>


        <input type="hidden" name="user_type" value="<%= user_type %>">
    </form>


</body>
</html>